*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'rubik';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: rgb(35, 11, 220);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(217, 89%, 61%, 0.593), hsla(222, 11%, 24%, 0.615)),url(../img/porta.png);  
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(217, 89%, 61%, 0.593), hsla(222, 11%, 24%, 0.615)),url(../img/porta.png); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: antiquewhite;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{ 
    text-decoration: underline; 
}
header .textos-header{
    display: flex;
    height:430px;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: azure;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: azure;
}
.wave{
    position:absolute;
    bottom: 0;
    width: 100%;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 50%;
}
.sobre-nosotros .contenido-textos{
    width: 60%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background-color: rgb(33, 179, 23);
    color: beige;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.portafolio{
    background: #f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.hover-galeria{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(9, 239, 181, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: aquamarine;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #386996;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.556) ;

}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #e0e0e0;
    border-radius: 50%;
    display: block;

}
.cards .card > .contenido-texto-card{
    width: 60%;
    color:antiquewhite;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 28%;
    text-align: center;
}
.servicio-ind img{
    width: 90%;

}
.servicio-ind h3{
    margin: 10px 0;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
    
}
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin:auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}
.content-foo{
    text-align: center;
}
.content-foo h4{
color:#e0e0e0;
border-bottom: 3px solid coral;
padding-bottom: 5px;
margin-bottom: 10px;
}
.content-foo p{
    color:#e0e0e0;
    
    }
    .titulo-final {
        text-align: center;
    font-size: 24px;   
    margin: 20px 0 0 0;
    color: #f2f2f2; 
    }

    
